<launch>    
    
    <node name="vins_estimator" pkg="vins" type="uwb_node" output="screen"/>
    
    <!-- <arg name="sequence_1" default = "/home/f404/ag1_test/_2024-06-20-15-02-14.bag" /> -->
    
    <!-- <node pkg="rosbag" type="play" name="player" output="log" args="$(arg sequence_1) -s 10.0 -r 4" /> -->
    <node pkg="rosbag" type="record" name="bag_record2" output="log" args="
    /u0/nlink_linktrack_nodeframe2  /nlink_sol -o /home/f404/ag1_test/soluwb" />
</launch>

<!-- /imuOne_1:=/vins_1/mavros/imu/data /cam1:=/vins_1/cam1 
    /imuOne_2:=/vins_2/mavros/imu/data /cam2:=/vins_2/cam2 
    /imuOne_3:=/vins_3/mavros/imu/data /cam3:=/vins_3/cam3
    /imuOne_0:=/mavros/imu/data -s 37 -->
